<div class="min-h-screen w-full flex justify-center items-center bg-branco">
    <div class="bg-white shadow-lg p-16">
        <h1 class="text-2xl mb-6">Pedido feito com sucesso!</h1>
        <a href="/cardapio"><button class="rounded-lg px-4 py-2 bg-primary text-white">Voltar pro menu</button></a>
        <a href="/perfil"><button class="rounded-lg px-4 py-2 bg-primary text-white">Ir para o perfil</button></a>
    </div>
</div>